.App {
  text-align: start;
}

/* Estilo do componente ICard */

.idCard-border {
  display: flex;
  border: 1px solid black;
  align-items: center;
  margin: 0.6%;
}

.greetings {
  display: flex;
  border: 1.5px solid black;
  align-items: center;
  margin: 0.6%;
}